services:
  broker-service:
    build:
      context: ./broker-service
      dockerfile: broker.service.dockerfile
    container_name: broker-service
    restart: always
    ports:
      - "8080:8000"
    deploy:
      mode: replicated
      replicas: 1
